<!DOCTYPE html>
<html>
<title>Dimitri's Blog</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<style>
body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
</style>
<body class="w3-light-grey">

<!-- w3-content defines a container for fixed size centered content, 
and is wrapped around the whole page content, except for the footer in this example -->
<div class="w3-content" style="max-width:1400px">

<!-- Header -->
<header class="w3-container w3-center w3-padding-32 w3-white"> 
  <h1><b>Welcome to my Blog!</b></h1>
  <p>Where Machine Learning is made <span class="w3-tag">Simple</span></p>
  <img src="static\images\funny robot.gif" alt="cnn" style="width: 150px; height:100px">
</header>

<!-- Grid -->
<div class="w3-row">

<!-- Blog entries -->
<div class="w3-col l8 s12">
    <!-- Blog entry -->
    <div class="w3-card-4 w3-margin w3-white">
        <img src="static\images\cnn.png" alt="cnn" style="width: 800px; height:300px">
          <div class="w3-container">
            <h3><b>Convoluted Neureal Networks</b></h3>
            <h5>Deep Learning/Computer Vision<span class="w3-opacity">November 7, 2019</span></h5>
          </div>
      
          <div class="w3-container">
            <p>A brief introduction into Machine Learning and all it's Branches,</p>
            <div class="w3-row">
              <div class="w3-col m8 s12">
                  <a href='/blog/cnn'><input type='button'class="w3-button w3-padding-large w3-white w3-border" value='READ MORE >>'></a>
              </div>
              <div class="w3-col m4 w3-hide-small">
                <p><span class="w3-padding-large w3-right"><b>Comments  </b> <span class="w3-badge">0</span></span></p>
              </div>
            </div>
          </div>
        </div>
  <!-- Blog entry -->
  <div class="w3-card-4 w3-margin w3-white">
    <img src="static\images\randon_forest.jpg" alt="Nature" style="width:100% ;height:300px">
    <div class="w3-container">
      <h3><b>Random Forest</b></h3>
      <h5>Supervised Learning/Ensemble Methods, <span class="w3-opacity">November 1, 2019</span></h5>
    </div>

    <div class="w3-container">
      <p>In this article I discus the foundations of the Random Forest Algorithm. I start from explaining Entropy and how the entropy formula is created. I then move on to Information Gain and I finish off 
        with hyper parameters and a code template in python.
      </p>
      <div class="w3-row">
        <div class="w3-col m8 s12">
        
           <a href='/blog/random_forest'><input type='button'class="w3-button w3-padding-large w3-white w3-border" value='READ MORE >>'></a>
        </div>
        <div class="w3-col m4 w3-hide-small">
          <p><span class="w3-padding-large w3-right"><b>Comments  </b> <span class="w3-tag">0</span></span></p>
        </div>
      </div>
    </div>
  </div>
  <hr>


<!-- END BLOG ENTRIES -->
</div>

<!-- Introduction menu -->
<div class="w3-col l4">
  <!-- About Card -->
  <div class="w3-card w3-margin w3-margin-top" style="width:250px;">
  <img src="static\images\me2.jpg" style="width:250px; height: 300px;">
    <div class="w3-container w3-white">
      <h4><b>Dimitri Efthimiou</b></h4>
      <p>Just me, myself and I, exploring ways to share what I have learned in recent years with you! Hope you find this helpful and any feedback is welcomed...Enjoy!</p>
    </div>
  </div><hr>
  
  <!-- Posts -->
  <div class="w3-card w3-margin">
    <div class="w3-container w3-padding">
      <h4>Popular Posts</h4>
    </div>
    <ul class="w3-ul w3-hoverable w3-white">
      <li class="w3-padding-16">
        <span class="w3-large">Convolutional Neural Network</span><br>
        <span>Convolution, Max Pooling and Average Pooling layers</span>
      </li>
      <li class="w3-padding-16">
        <span class="w3-large">Random Forest</span><br>
        <span>Decision Trees, Entropy, Information Gain</span>
      </li> 

    </ul>
  </div>
  <hr> 
 
  <!-- Labels / tags -->
  <div class="w3-card w3-margin">
    <div class="w3-container w3-padding">
      <h4>Upcoming</h4>
    </div>
    <div class="w3-container w3-white">
    <p>Article on Unsupervised Learning
    </p>
    </div>
  </div>
  
<!-- END Introduction Menu -->
</div>

<!-- END GRID -->
</div><br>

<!-- END w3-content -->
</div>

<!-- Footer -->
<footer class="w3-container w3-dark-grey w3-padding-32 w3-margin-top">
    <a href='/'><input type='button'class="w3-button w3-padding-large w3-white w3-border" value='Return to Portfolio Page'></a>
</footer>

</body>
</html>
