<!DOCTYPE html>
<html>
<title>Dimitri's Blog</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="\static\css\mystyle.css">
<style>
body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
</style>
<body class="w3-light-grey">

<!-- w3-content defines a container for fixed size centered content, 
and is wrapped around the whole page content, except for the footer in this example -->
<div class="w3-content" style="max-width:1400px">

<!-- Header -->
<header id ="cnn-header"class="w3-container w3-center w3-padding-32"> 
   
  <h1><b>Concoluted Neural Network</b></h1>
  <!-- <img src="\static\images\randon_forest.jpg" alt="forest image" style="width: 200px; height:100px"> -->
  <p style="color: white;">by Dimitri Efthimiou</p>
</header>

<!-- Grid -->
<div class="w3-row">

<!-- Blog entries -->
<div class="w3-white w3-col l12 s12" style="padding-inline-end: 50px; padding-inline-start: 50px;">
    <!-- Blog entry -->
    <div>
            <!-- class="w3-card-4 w3-margin w3-white text" -->
        <h4 align="center">Introduction </h4>
        <p>I made it!</p>
    

            
                        </div>
        </div>
    </div>
</div>
<!-- Footer -->
<footer class="w3-container w3-dark-grey w3-padding-32 w3-margin-top">
<a href='/blog'><input type='button'class="w3-button w3-padding-large w3-white w3-border" value='Return to Home Page'></a>

</footer>

</body>
</html>
