<!DOCTYPE html>
<html>
<title>Dimitri's Blog</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="\static\css\mystyle.css">
<style>
body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
</style>
<body class="w3-light-grey">

<!-- w3-content defines a container for fixed size centered content, 
and is wrapped around the whole page content, except for the footer in this example -->
<div class="w3-content" style="max-width:1400px">

<!-- Header -->
<header id ="cnn-header"class="w3-container w3-center w3-padding-32"> 
   
  <h1><b>Convolutional Neural Network</b></h1>
  <!-- <img src="\static\images\randon_forest.jpg" alt="forest image" style="width: 200px; height:100px"> -->
  <p style="color: white;">by Dimitri Efthimiou</p>
</header>

<!-- Grid -->
<div class="w3-row">

<!-- Blog entries -->
<div class="w3-white w3-col l12 s12" style="padding-inline-end: 50px; padding-inline-start: 50px;">
    <!-- Blog entry -->
    <div>
            <!-- class="w3-card-4 w3-margin w3-white text" -->
        <h4 align="center">Overview </h4>
        <p>Convolutional Neural Networks are a part of Deep Learning architectures which provide engineers with an incredibility ability to process large, computationaly intensive data in a more efficient manner. 
            The majority of use cases for CNN’s is in the Computer vision field for objectives such as object detection, facial and image recognition. The question is how are CNN’s capable of processing data quickly especially when dealing with images and the answer is by learning the important features 
            of the image quickly and then beeing able to distinguish it from others. 
            <br>
            <br>
            Convolutional layers accomplish this by splitting the workload amongst Kernels or Filters which are responsible to only look for patterns in  pixels in their assigned regions. These filters iterate through the image and they extract important features. Following the Convolutional layer is the pooling layer which consist of 
            two different types, MaxPooling and Average Pooling. These layers reduce the dimensionality and noise when combined with Convolutional layers. The next and final step is a Fully connected Flatten MLP layer used for classification purposes. This layer is responsible for learning non-linear combinations fo fetures by first
            turning the output into a vector as it cannot handle matrices and begin training with a Feed Forward and Back Propagation utilizaing output functions such as Softmax to predict results.
            
            
            <h4 style="text-align: center;">Difference between CNN and MLP</h4>
                Before focusing only on the difference it’s important to note that they are both composed of a stack of layers and they utilize the same loss functions.
                </p>
                <img src="\static\images\flatten.jpg" alt="" height="200px" width="350"> <img src="\static\images\mlp_cnn_comp.PNG" alt="" height="300px" width="450"><img  src="\static\images\cnn.jpg" alt="" height="200px" width="350">  
            
                <h4>FILTERS</h4>    
            <p>
                    when it’s used after the Convoluted layer it uses fewer parameters, less prone to overfitting, and it understands how to better extract patterns in image data. </p>
                    
            <h5>FILTERS</h5>

                        </div>
        </div>
    </div>
</div>
<!-- Footer -->
<footer class="w3-container w3-dark-grey w3-padding-32 w3-margin-top">
<a href='/blog'><input type='button'class="w3-button w3-padding-large w3-white w3-border" value='Return to Home Page'></a>

</footer>

</body>
</html>
