


<!DOCTYPE html>

<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Dimitri Efthimiou Portfolio</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
                <!-- Theme Made By www.w3schools.com - No Copyright -->
                <title>Dimitri Efthimiou Portfolio</title>
                <meta charset="utf-8">
                <meta name="viewport" content="width=device-width, initial-scale=1">
                <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
                <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
                <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
                <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
                <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css"> 
                <link rel="stylesheet" href="static\css\mystyle.css">
                <script src="static\master.js"></script>


                <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
                
                <!-- Add icon library -->
                <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">



              </head>


<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60">
<nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>     
                <span class="icon-bar"></span>   
                                        
            </button>
            <a class="navbar-brand" href="#myPage"></a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#about">ABOUT</a></li>
                <li><a href="#portfolio">PORTFOLIO</a></li>
                <li><a href="#resume">RESUME</a></li>
                <li><a href="#contact">CONTACT</a></li>
         
            </ul>
            </div>
        </div>
        </nav>

<!-- HEADER   -->
<div class="jumbotron text-center", style="background: #000000;">
        <h1>Hello, I'm <span style="color:#f4511e">Dimitri Efthimiou</span> </h1> 

        <p>Welcome to my Page!</p> 
        <!-- <a class="fa fa-linkedin fa-3x" href="https://www.linkedin.com/in/dimitri-efthimiou-72232119/"></a> -->
        <a class="fa fa-github fa-3x" href="https://github.com/dimtirie13" ></a>
</div>

<!-- Container (About Section) -->
<div id="about" class="container-fluid text-center row">
    <h2 style="color:#f4511e">About Me</h2>
    <div class="row">

<div class="col-sm-4">
        <span>
                <div id="wrapper">
                   
                          <h2>PROGRAMMING ACHIEVEMENTS</h2>
                          <div>
                              <img src="static\images\stanford.PNG" alt="Data logo" width="150" height="120">
                              <img src="static\images\whartonPNG.PNG" alt="Data logo" width="150" height="120">
                              <img src="static\images\udacity.PNG" alt="Data logo" width="150" height="120">
                            </div>
                        
                      </div></span>
          </div>
          <div class="col-sm-4">
                    <!-- <div class="col-sm-4"> -->
                        <span><img src="static\images\me2.jpg" alt="" style="border-radius:50px; height: 310px; width: 250px;"></span>
                        <!-- </div> -->
              <p>My first use case of Data analytics was on the rugby field while trying to provide my team with a competitive advantage over unique opponents. 
                I spent numerous hours analyzing film and keeping track of opponent statistics which mainly was used for defensive purposes, until I thought of building our entire game plan 
                based on entry level descriptive analytics. I trained my team to be able to adapt to all kinds of playing styles, from aggressive and conservative, to risk taking and opportunistic. 
                When used correctly our team went on to a 36-8 record in two seasons. This outcome (and iron man movies) ignited my curiosity on the impact Data Analytics can have in other Domains.</p>
              <p>Well, here we are today, just a little over two years have passed from when I decided to switch careers and teach myself to code, read math books from the library,
                complete some courses and launch a career in machine learning. It would be an incredible opportunity and a privilege to work at a place where my passion for sports and machine learning can coexist as a daily routine.
              </p>
          
      </div>
      <div style="padding-bottom: 5px;">
        <h2>ATHLETIC ACHIEVEMENTS</h2>
        <img src="static\images\gymnast.png" alt="Data logo" width="40" height="40" title="Gymnastics">
        <p>Started at the age of 5, earned 10+ metals from 3rd to 1st<p>
        <img src="static\images\karate.png" alt="Data logo" width="40" height="40" title="Karate">
        <p>National champion in three categories</p>
        <img src="static\images\football.png" alt="Data logo" width="40" height="40" title="Football">
        <p>Made Varsity in the first year. Awards: Rookie of the year, Most Improved, Unsunk Hero</p>
        <img src="static\images\wrestling.png" alt="Data logo" width="40" height="40" title="Wrestling">
        <p>Top 5 in the state. D1 Sectional Champion</p>
        <img src="static\images\rugby.jpg" alt="Data logo" width="40" height="40" title="Rugby">
        <p>High school Player of the year, Team USA Player, D1 Head Coach, Olympic Development Academy Coach (Cert Level 300)</p>
        </div>
        <div>
    
        </div>
      </div>
        </div>
      </div>







 <!-- Container (Portfolio Section) -->
              <div id="portfolio" class="container-fluid text-center bg-grey">
                    <div class="text-center">
                            <h2 style="color:#f4511e">PORTFOLIO</h2>
                    
                          </div>
                          <div class="row">
                            <div class="col-sm-4 col-xs-12">
                              <div class="panel panel-default text-center">
                                <div class="panel-heading slideanim">
                                  <h1>Machine Learning</h1>
                                </div>
                                <div class="panel-body slideanim">
                                    <img src="static\images\mlfixed.jpg" alt="ML logo" width="250" height="200">
                                </div>
                                                                
                                <div class="panel-footer">
                                  <h4>The tabs below will take you directly to the repository of each project</h4>
                                  <a href='https://github.com/dimtirie13/cnn_dog_project'><input type='button'class="btn btn-md" value='Dog Breed Classifier'></a>
                                  <a href='https://github.com/dimtirie13/machine_learning/tree/master/finding_donors'><input type='button'class="btn btn-md" value='Charity Donor Classification'></a>
                                  <a href='https://github.com/dimtirie13/machine_learning/tree/master/customer_segments'><input type='button'class="btn btn-md" value='Customer Segmentation'></a>
                                  <a href='https://github.com/dimtirie13/deep_learning/blob/master/cnn_image_recognition_practice/cnn_practice_image_recognition.ipynb'><input type='button'class="btn btn-md" value='CNN Image Recognition'></a>
                                </div>
                              </div>      
                            </div>     
                            <div class="col-sm-4 col-xs-12">
                              <div class="panel panel-default text-center">
                                <div class="panel-heading slideanim">
                                  <h1>Data Visualization</h1>
                                </div>
                                <div class="panel-body slideanim">
                                    <img src="static\images\dashboard.jpg" alt="Data logo" width="200" height="200">
                                </div>
                                <div class="panel-footer">
                                  <h4>This Dashboard was built using plotly/Dash</h4>
                                 
                                  <a href='/dash'><input type='button'class="btn btn-lg" value='MLB'></a>
                  
                                </div>
                              </div>      
                            </div>       
                            <div class="col-sm-4 col-xs-12">
                              <div class="panel panel-default text-center">
                                <div class="panel-heading slideanim">
                                  <h1>Blog Page</h1>
                                </div>
                                <div class="panel-body slideanim">
                                    <img src="static\images\blogfixed.jpg" alt="blog" width="200" height="200">
                                </div>
                                <div class="panel-footer">
                                  <h4>Find explanations of machine learning models</h4>
                                  <a href='/blog'><input type='button'class="btn btn-md" value='Machine Learning Pipeline'></a>
                                  <button class="btn btn-md">Random Forest(Explained)</button>
                                </div>
                              </div>      
                            </div>    
                          </div>
                        </div>



          
                        <div id='resume' class="container-fluid text-center">
                            <h2 style="color:#f4511e">WORK EXPERIENCE</h2>
                            <p>To download the full resume please click on the image below</p>
                            <a href="static\resume.docx" download="Dimitri_Efthimiou_Resume">
                              <img src="static\images\resume.jpg" alt="My Resume" width="40" height="40">
                            </a>
                
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="main-timeline">
                                        
                                        <a href="https://www.party-expert.com/" class="timeline">
                                            <div class="timeline-icon"><img src="static\images\partyexpertlogo.jpg" alt=""width="80" height="75" style="border-radius: 20%;"></div>
                                            <div class="timeline-content">
                                                <h3 class="title">Data Analyst</h3>
                            
                                                <p class="description">
                                                  I built a dashboard web application for the marketing and buying teams to improve the daily management of 100K SKUs, as well as leading the Analytics/AI IoT system project.
                                                </p>
                                                
                                            </div>
                                        </a>
                                        <a href="https://bootcamp.miami.edu/data/" class="timeline">
                                            <div class="timeline-icon"><img src="static\images\um.jpg" alt=""width="50" height="90" style="border-radius: 10%;"></div>
                                            <div class="timeline-content">
                                                <h3 class="title">Data Analytics Teaching Assistant</h3>
                                                <p class="description">
                                                    Assisting Students during lecture exercises, homework assignments, as well as substituing machine learning lectures. The course covered a plethora of topics
                                                    from full-stack development and API interactions to Deep Neural Networks.
                                                </p>
                                            </div>
                                        </a>
                                        <a href="https://www.spectec.net/" class="timeline">
                                            <div class="timeline-icon"><img src="static\images\spectec.jpg" alt=""width="70" height="90" style="border-radius: 10%;"></div>
                                            <div class="timeline-content">
                                                <h3 class="title">Account Manager</h3>
                                                <p class="description">
                                                    Wxecuted numerous live Demos for potential costumers as well as conducted a  market analysis in order to establish a new customer base for our latest products.
                                                </p>
                                            </div>
                                        </a>
                                        <a href="http://www.statestreet.com/home.html" class="timeline">
                                            <div class="timeline-icon"><img src="static\images\statestreet.png" alt=""width="50" height="90" style="border-radius: 10%;"></div>
                                            <div class="timeline-content">
                                                <h3 class="title">Information Security Intern</h3>
                                                <p class="description">
                                                  I was supported the Information security team by presenting findings of overlooked risk management profiles, proposed
                                                  solutions to ensure compliance guidelines are met and generated new policies and procedures documents.

                                                </p>
                                            </div>
                                        </a>
                                  
                                    </div>
                                </div>
                            </div>
                        </div>

            

          <!-- Container (Contact Section) -->
          <div id="contact" class="container-fluid bg-grey">
              <h2 class="text-center">CONTACT</h2>
              <div class="row">
                <div class="text-center">
                  <p>Feel free to send me an email with questions regarding my work!</p>
                  <p><span class="glyphicon glyphicon-map-marker"></span> Fort Lauderdale, FL</p>
                  <p><span class="glyphicon glyphicon-envelope"></span> dimitrie13@outlook.com</p>
                </div>

              </div>
            </div>


           
              
         
       </body>

       </html>